<form action="/auth" method="post">
    <form-group>
        <label for="i-username">username</label>
        <input type="text" id="i-username" name="username" placeholder="username" required autofocus>
    </form-group>
    <form-group>
        <label for="i-password">password</label>
        <input type="password" id="i-password" name="password" placeholder="password" required>
    </form-group>
    <button type="submit">auth</button>
</form>
