<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>mailsync</title>

        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <% if @message %>
            <flash class="<%= @message[:type] %>">
                <%= @message[:content] %>
            </flash>
            <% end %>
            <h2>mailsync</h2>
        </header>
        <main>
            <%= yield %>
        </main>
        <footer>
            &copy; Copyright 2018 - <a href="https://github.com/oltdaniel" target="_blank">Daniel Oltmanns</a>
        </footer>
    </body>
</html>
